.bookingwidget {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.dates {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 335px;

  input[type="date"], input[type="number"], input[type='text'], input[type='tel'] {
    padding: 0.5em 1em;
    border-radius: 10px;
    border: 0.1px solid var(--red-color);
    margin: 0em 1em;
  }
  
  .checkinout {
    display: flex;
  }
}
