.indexCards {
  padding: 2em 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

  @media (max-width: 550px) {
    padding: 2em 1.5em;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
