* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  padding: 0.6em 1.5em;
  background-color: purple;
  border-radius: 5px;
}
